.custom-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  
    &:not(:disabled) {
      background-color: #4caf50;
      color: #fff;
  
      &:hover {
        background-color: #45a049;
      }
    }
  
    &:disabled {
      background-color: #88878754;
      cursor: not-allowed;
    }
  }
  